@import './../global';

div.save-pattern-dialog {
  padding: 1em;
  width: auto;
  outline: none;
  display: inline-block;
  position: relative;
  top: 30%;
  overflow: visible;

  span.close-icon {
    svg {
      border-radius: 50%;
      background: #eaeaea;
      top: -1.05em;
      position: relative;
      cursor: pointer;
      left: 3.46em;
    }
  }

  label {
    float: left;
  }

  form {
    margin-bottom: 0.5em;

    div:after {
      border-bottom: 2px solid black;
    }
  }

  button {
    margin-left: .3em;

    &:hover {
      background-color: $color-hover-effect;
    }
  }

}