$color-background: #bbbbbb;
$color-primary: #018786;
$color-secondary: #a8a8a8;

html {
  background-color: $color-background;
  font-family: 'Roboto', 'sans-serif';
}

div.app-container {
  margin: 1.5em 0;
}

div.canvas-wrapper {
  padding: .6em;
  color: white;
  margin: 0 auto;
  canvas {
    padding: 0;
    border: solid 1px black;
    display: block;
  }
}

div.controls {
  position: absolute;
  padding: 1em;
  width: 15vw;
  margin-left: 1.5em;

  div.control-icons {
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    .control-icon {
      font-size: 2em;
      padding: .1em;
      color: $color-primary;
    }

    .control-icon:hover {
      background-color: rgba(0, 21, 156, 0.1);
      opacity: 50%;
      border-radius: 20%;
      animation: fadein .5s;
    }

    .control-icon.icon-reset {
      top: .08em;
      font-size: 1.8em;
      position: relative;
    }

    .control-icon.not-allowed {
      cursor: not-allowed;
      color: $color-secondary;
    }
  }

  div.control-pattern {
    margin: 1em 0;

    div.control-pattern-input::after {
      border-bottom-color: $color-primary;
    }
  }

  div.control-generation-interval {
    margin: 1em 0;
    label {
      font-size: small;
      margin-right: .5em;
      position: relative;
      bottom: .5em;
    }
  }

  .control-slider {
    div div {
      background-color: $color-secondary;
    }
    button {
      background-color: $color-primary;
    }
  }

  div.control-cell-container {
    margin-top: 1em;

    div.control-cell-count {
      margin-top: 0.8em;
      display: flex;

      small.cell-count-min {
        position: relative;
        top: -0.55em;
        right: .1em;
      }

      small.cell-count-max {
        position: relative;
        top: -1.75em;
        left: 0.5em;
      }
    }
  }

  span.control-generation-editable {
    padding: .2em 1em;
    cursor: pointer;
  }

  span.control-generation-editable:hover {
    background-color: lightgrey;
    border-radius: 10%;
    animation: fadein 0.5s;
  }

  form.control-generation-edit {
    display: inline;

    div {
      input {
        width: 3.5em;
        text-align: center;
      }
    }

    div::after {
      border-bottom-color: $color-primary;
    }

    .icon-check {
      font-size: 1.4em;
      top: .35em;
      position: relative;
      padding-left: .2em;
      cursor: pointer;
      color: $color-primary;
    }

    .icon-check:hover {
      opacity: .5;
    }
  }
}

@keyframes fadein {
  from { opacity: .5; }
  to   { opacity: 1; }
}
