$color-background: #bbbbbb;
$color-primary: #1e87f0;
$color-secondary: #a8a8a8;
$color-hover-effect: rgba(0, 21, 156, 0.15);

html {
  background-color: $color-background;
  font-family: 'Roboto', 'arial', 'sans-serif';
}

div.app-container {
  margin: 1.5em 0;
}

.warn-text {
  color: red;
}

@keyframes fadein {
  from { opacity: .5; }
  to   { opacity: 1; }
}
